.update-password-modal h1 {
    margin-bottom: 20px;
}

.update-password-modal p {
    margin-bottom: 20px;
}

.update-password-modal input {
    margin: 5px 0 15px 0;

}

.buttons-container {
    margin-top: 20px;
    float: right;
}

.save-button {
    margin-left: 5px;
}

.close-icon {
    color: red;
}

.save-icon {
    color: rgb(35, 35, 104);
}