.filter-button-container {
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.filter-container {
    justify-self: left;
    height: fit-content;
    margin-top: 12px;
}

.filter-container label {
    font-size: 1.25rem;
    margin-right: 5px;
    margin-bottom: 0;
}

.filter-container input {
    margin: 0;
    font-size: 1rem;
    border: 1px solid gray;
    height: 20px;
}

.filter-container select {
    margin: 0 0 0 5px;
    font-size: 1rem;
    border: 1px solid gray;
    height: 24px;
    width: 125px;
}

.filter-button-container button {
    margin-left: auto;
    margin-bottom: 10px;
    justify-self: end;
    height: 40px;
    width: 70px;
    padding: 0 15px;
}

.filter-button-container button .add-button-icon {
    font-size: 1.5rem;
}